<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medaino.www.medainoandroid" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".klopresults"
            android:label="@string/title_activity_klopresults" >
        </activity>
        <activity
            android:name=".Scanklop"
            android:label="@string/title_activity_scanklop" >
        </activity>
        <activity
            android:name=".userdetails"
            android:label="@string/title_activity_userdetails" >
        </activity>
        <activity
            android:name=".Medoptions"
            android:label="@string/title_activity_medoptions" >
        </activity>
        <activity
            android:name=".terminalact"
            android:label="@string/title_activity_terminalact" >
        </activity>
        <activity
            android:name=".plotdata"
            android:label="@string/title_activity_plotdata" >
        </activity>
    </application>

</manifest>
